<th:block th:insert="~{/shared/_header.html}"></th:block>

<main>
    <section class="search py-5">
        <div class="container">
            <h2 class="text-center fw-bold mb-5">Search Results</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">The Shawshank Redemption</h3>
                            <p class="card-text">Drama Movie</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://picsum.photos/300/201" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">The Dark Knight</h3>
                            <p class="card-text">Action Movie</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://picsum.photos/300/202" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">The Lord of the Rings: The Return of the King</h3>
                            <p class="card-text">Fantasy Movie</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://picsum.photos/300/203" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">The Matrix</h3>
                            <p class="card-text">Science Fiction Movie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


</body>
</html>