.<style>.bg-netflix {
    background-color: #141414;
    padding: 20px;
    color: #ffffff;
}

.bg-netflix a {
    color: #ffffff;
    text-decoration: none;
}

.bg-netflix a:hover {
    color: #55CFFF;
    text-decoration: none;
}

.bg-netflix h4 {
    margin-top: 0;
}
</style>


<footer class="bg-netflix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Questions? Contact Us</h4>
                <a href="#">FAQ</a><br>
                <a href="#">Help Center</a><br>
                <a href="#">Media Center</a><br>
                <a href="#">Terms of Use</a><br>
                <a href="#">Privacy Statement</a>
            </div>
            <div class="col-md-3">
                <h4>Account & Membership</h4>
                <a href="#">Account Settings</a><br>
                <a href="#">Membership</a><br>
                <a href="#">Order History</a><br>
                <a href="#">Payment Methods</a><br>
                <a href="#">Gift Cards</a>
            </div>
            <div class="col-md-3">
                <h4>Help & Support</h4>
                <a href="#">Help Center</a><br>
                <a href="#">Contact Us</a><br>
                <a href="#">FAQ</a><br>
                <a href="#">Status</a><br>
                <a href="#">Report an issue</a>
            </div>
            <div class="col-md-3">
                <h4>Join the Netflix Community</h4>
                <a href="#" target="_blank">Facebook</a><br>
                <a href="#" target="_blank">Twitter</a><br>
                <a href="#" target="_blank">Instagram</a><br>
                <a href="#" target="_blank">LinkedIn</a><br>
                <a href="#" target="_blank">YouTube</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span>&copy; 2023 Netflix, Inc.</span>
            </div>
        </div>
    </div>
</footer>

</body>
</html>