<style>
    /* General Background */
    .bg-netflix {
        background-color: #141414; /* Netflix dark background */
    }

    /* Logo Styling */
    .logo {
        width: 70px;
        vertical-align: middle;
    }

    /* Navbar Styling */
    .navbar-dark .navbar-brand {
        color: #ffffff;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #55CFFF; /* Light blue hover effect */
    }

    /* Dropdown Menu */
    .dropdown-menu {
        background-color: #141414 !important; /* Dark background for dropdown */
        border: none !important; /* Remove border */
        box-shadow: none !important; /* Remove shadow */
    }

    .dropdown-menu a {
        color: #ffffff !important; /* White text */
    }

    .dropdown-menu a:hover {
        color: #55CFFF !important; /* Light blue hover text */
        background-color: transparent !important; /* No background color on hover */
    }

    /* Profile Icon */
    .icon {
        display: block; /* Ensure no inline spacing issues */
        width: 25px;
        vertical-align: middle;
        margin: 0; /* No extra margin */
    }

    /* Remove Default List Styles and Pseudo-elements */
    .nav-item {
        list-style: none; /* Remove list markers */
        margin: 0;
        padding: 0;
    }

    .navbar-nav .dropdown::before,
    .navbar-nav .dropdown::after,
    .nav-item.dropdown::before,
    .nav-item.dropdown::after {
        content: none; /* Remove pseudo-elements */
    }

    /* Navbar Toggler Icon */
    .navbar-dark .navbar-toggler-icon {
        background-image: none; /* Remove default icon */
    }

    /* Mobile View Adjustments */
    @media (max-width: 767px) {
        .navbar {
            padding: 0.5rem 1rem;
        }

        .navbar-nav {
            margin-top: 1rem;
        }

        .navbar-nav .nav-link {
            padding: 0.5rem 0.5rem;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    /* Form and Buttons */
    .form-inline {
        margin-right: 20px;
    }

    .form-control {
        background-color: #141414;
        border: 1px solid #333;
        color: #fff;
    }

    .form-control:focus {
        border-color: #55CFFF;
        box-shadow: 0 0 0 0.2rem rgba(85, 207, 255, 0.25);
    }

    .btn-outline-light {
        border-color: #55CFFF;
        color: #55CFFF;
    }

    .btn-outline-light:hover {
        background-color: #55CFFF;
        color: #141414;
    }

    /* Sign Up/Log In Button */
    #sign-up {
        margin-right: 50px;
    }

    /* Footer Styling (if applicable) */
    footer {
        background-color: #141414;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }

    footer a {
        color: #55CFFF;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-netflix fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1024px-Netflix_2015_logo.svg.png"
                 alt="Netflix Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/comments">Comments</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Browse
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/tv-shows">TV Shows</a>
                        <a class="dropdown-item" href="/movies">Movies</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a th:href="@{/login}" id="sign-up" class="btn btn-danger btn-sm" role="button">log in</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                         alt="User Icon" class="icon">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </li>
        </div>
    </div>
</nav>